@import 'variable';

button {
	background: #eee;
	border: none;
	box-shadow: none;
	color: black;
	cursor: pointer;
	display: inline-block;
	min-width: 21rem;
	padding: 1.6rem;
}

button:hover {
	background: grey;
	color: black;
	transition: $transitionSpeed;
}