//////// colors
$black: #1f2024;
$darkerGrey: #534e4d;
$green: green;
$grey: grey;
$transparent: rgba(255, 255, 255, 0);
$transparentBlack: rgba(0, 0, 0, 0.09);
$transparentWhite: rgba(255, 255, 255, 0.88);
$white: whitesmoke;

//////// light theme
body {
	background-color: $white;
	color: $darkerGrey;
	::selection {
		background-color: $darkerGrey;
		color: $white;
	}
}

header, footer {
	color: $white;
	background-color: $black;
}

a {
	color: $green;
}
	
a:hover {
	color: $green;
}

code {
	background: #999;
}


.legibelleDark {
	background-color: $black;
	color: $grey;
	::selection {
		color: $black;
		background-color: $white;
	}
}
