//////// colors
$white: whitesmoke;
$grey: grey;
$darkerGrey: #534e4d;
$black: #1f2024;

$green: green;

$transparentWhite: rgba(255, 255, 255, 0.88);
$transparent: rgba(255, 255, 255, 0);
$transparentBlack: rgba(0, 0, 0, 0.09);

//////// light theme
body {
	color: $darkerGrey;
	background-color: $white;
	::selection {
		background-color: $darkerGrey;
		color: $white;
	}
}

header, footer {
	color: $white;
	background-color: $black;
}

a {
	color: $green;
}
	
a:hover {
	color: $green;
}

code {
	background: #999;
}


.legibelleDark {
	color: $grey;
	background-color: $black;
	::selection {
		background-color: $white;
		color: $black;
	}
}
