//////// form
@import 'color';

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: $white;
  border:1px solid red;
  box-shadow: none;
}


form{
  display: flex;
  flex-flow: column nowrap;
}


.container{
  display: flex;
  flex-flow: column nowrap;
}

