@import 'color';

//////// mobile first
body {
	display: grid;
	grid-template-rows: [header navBar] auto repeat(auto-fit) [main] 1fr [aside footer] auto repeat(auto-fit);
	min-height: 100vh;

	> * {
		display: grid; //creo que este es el rollo
		grid-auto-rows: max-content;
		border: 1px solid green;
	}

	color: green;
}

.fullWidth {
	border: 1px solid red;
	grid-column: 1 / -1;
}

.sticky {
	position: sticky;
	top: 0;
	background-color:$transparentWhite;
}

// columns
.column {
	border: 1px solid green;
}

.columns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid red;
}

.hero {
	height: 20rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

script {
	display: none;
}

//////// media query - everything else
@media screen and(min-width:$contentWidth) {
	body > * { //every row inside the body have this number of columns
		grid-template-columns: [outerLeft] 1fr [innerLeft] 2fr [content] $contentWidth [innerRight] 2fr [outerRight] 1fr;

		> * { //every column is centered by default
			grid-column: content;
		}
	}

	.columns {
		flex-direction: row;
	}

	.column {
		flex-basis: 0; //equal widths
		flex-grow: 1;
		margin: 0rem 1rem;
	}

	.column:nth-child(1) {
		margin-left: 0;
	}

	.column:nth-last-child(1) {
		margin-right: 0;
	}

	.hero {
		height: 40rem;
	}
}
