@import 'variable';

header {
	align-content: center;
	font-size: small;
	min-height: 8em;
}

.navUL {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

.navUL li {
}

nav {
}

.branding{
	align-items: center;
	display: flex;
	flex-grow: 2;
	justify-content: space-around;
}

.logo{
	width: 192px;
}

.burger{
	display: initial;
}

.opts{
	display: none;
	flex-grow: 1;
}