@import 'variable';

//////////////////////////////////
//HEADER ////////////////////////
header {
	font-size: small;
	min-height:8em;
	align-content:center;
}

.navUL {
	display:flex;
	justify-content:space-between;
	padding:0;
	list-style-type:none;
}

.navUL li {
}

nav {
}

.branding{
	display:flex;
	align-items:center;
	justify-content:space-around;
	flex-grow:2;
}

.logo{
	width:192px;
}

.burger{
	display:initial;
}

.opts{
	display:none;
	flex-grow:1;
}

.breadcrumbs {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	font-size: small;
}

.breadcrumbs ul {
	padding:0;
}

.breadcrumbs li {
	display:inline-block;
}

.breadcrumbs li::after {
	padding:0 1rem;
	content: ">";
}

.breadcrumbs li:nth-last-child(1)::after {
	content: "";
}

.current {
	text-transform:uppercase;
}