//////// web safe font stacks
$arial: "Arial", "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-Serif;
$monospace: "Consolas", "Nimbus Mono L", "Lucida Sans Typewriter", "Lucida Console", Monospace;
$palatino: "Palatino", 'Palatino Linotype', 'Palatino LT STD', Serif;
$tahoma: "Tahoma", Sans-Serif;
$trebuchet: "Trebuchet", "Trebuchet MS", Sans-Serif;
$verdana: "Verdana", "Bitstream Vera Sans", "DejaVu Sans" Sans-Serif;

main p {
	margin-bottom: 1.66rem;
}

h1, h2 {
	font-weight: 400;
	color: grey; //deberia ser una referencia
	font-size: 3rem;
	margin-top: 1rem;
	letter-spacing: 0em;
	text-transform: capitalize;
}

small {
	font-family: $verdana;
	//font-weight: bold;
}

pre > code {
	font-family: $monospace;
	//padding: 0;
}

code {
	font-family: $monospace;
	padding: 0.2rem 0.5rem;
}

a {
	text-decoration: underline;
}