//////// dependencies
html {font-size: 10px} //baseline unit: 0.1rem = 1px

$contentWidth: 64.0rem; //640px
$transitionSpeed: all 0.3s ease;

body {
	font-family: $trebuchet;
	font-size: 1.4rem;
	line-height: 2.35rem;
	letter-spacing: 0.03em; //si va a cambiar el tamaño de la fuente entre los mq, tiene que ser un valor hardcode en los dos...
}
