@import 'type';

html { //baseline unit: 0.1rem = 1px
	font-size: 10px
} 

$contentWidth: 64.0rem;

$transitionSpeed: all 0.3s ease;

body {
	font-family: $trebuchet;
	font-size: 1.6rem;
	line-height: 2.35rem;
	letter-spacing: 0.03em;
}
