/* legibelle v0.7a
 * by OOQQ - Voodoo Co. Ltd.
 * free to use under the GPLv2 license
 */

* {
	box-sizing: border-box
}

html, body {
	margin: 0; //firefox scrollbar fix
	min-height: 100%;
	width: 100%;
}

@import 'aside';
@import 'breadcrumb';
@import 'button';
@import 'color';
@import 'footer';
@import 'form';
@import 'grid';
@import 'header';
@import 'list';
@import 'media';
@import 'menu';
@import 'sidebar';
@import 'table';
@import 'type';
@import 'variable';