/* legibelle v0.7a
 * https://legibelle.com
 * ©The legibelle authors
 * free to use under the MIT license
 * https://en.wikipedia.org/wiki/MIT_License
 */

* {box-sizing:border-box}

html, body {
	margin: 0; //firefox scrollbar fix
	width:100%;
	min-height:100%;
}

@import 'type';
@import 'variable';
@import 'grid';
@import 'color';
@import 'form';
@import 'media';
@import 'button';
@import 'table';
@import 'menu';
@import 'header';


